p
{
   font-size: 2rem;
}
h2
{
    font-size: 2em;
    text-align: center;
}
body
{
    
   width:80%;
   margin: auto;
  
    
}
.top
{
    border-radius:50%;
}
img[src$=".png"]:before{
    border-radius;10px, 50px;
  }
  img[src$=".jpeg"]:before{
    border-radius:50px,10px;
  }
h1,h2,h3
{
    color:white;
    background-color: #010B40;
}
p{
 font-family: garamond;   
 padding-left:50px;
 padding-right:50px;
}
form
{
    padding-left:300px;
}
.but:hover
{
    background-color:red;
    color:green;
}
.b li a:hover
{
    
    text-decoration:underline;
    font-size: 45px;
    color: red;
}
img
{
    width: 150px;
    
}
table,tr,td
{
    border: 3px solid black;
    margin: auto;
}
#contact h3
{
    text-align: center;
}



th
{
    background-color:black;
    color:white;
}

input
{
    width: 700px;
}
button
{
    border-radius:20%;
    background-color:#324AB2;
    margin-left:300px;
}
section
{
    background-color: #63c5da;
    width:100%;
 
    
    
}
.b
{
    background-color: #010B40;
}
.b li
{
   
    font-size: 30px;
    
}
.b li a
{
    color: white;
    text-decoration: none;
}
