p
{
   font-size: 2rem;
}
h2
{
    font-size: 2em;
    text-align: center;
}
body
{
    
   width:80%;
   margin: auto;
  
    
}
.top
{
    border-radius:50%;
}
img[src$=".png"]{
    border-radius;10px, 50px;
  }
  img[src$=".jpeg"]{
    border-radius:50px,10px;
  }
h1,h2,h3
{
    color:white;
    background-color: #010B40;
}
p{
 font-family: garamond;   
 padding-left:50px;
 padding-right:50px;
}
form
{
    padding-left:300px;
}
.but:hover
{
    background-color:red;
    color:green;
}
.b li a:hover
{
    
    text-decoration:underline;
    font-size: 25px;
    color: red;
}
img
{
    width: 150px;
    
}
table,tr,td
{
    border: 3px solid black;
    margin: auto;
}
#contact h3
{
    text-align: center;
}
.one
{
    background: linear gradient(90deg,blue 90px, white 90px) ;
    width: 60%;
}
.two
{
    background: linear gradient(90deg,blue 80px, white 80px);
    width: 60%;

}
.three
{
    background: linear gradient(90deg,blue 60px, white 60px);
    width: 60%;
}
.four
{
    background: linear gradient(90deg,blue 70px, white 70px);
    width: 60%;
}
.five
{
    background: linear gradient(90deg,blue 50px, white 50px) ;
    width: 60%;
}
.six
{
    background: linear gradient(90deg,blue 20px, white 80px) ;
    width: 60%;
}



th
{
    background-color:black;
    color:white;
}

input
{
    width: 700px;
}
button
{
    border-radius:20%;
    background-color:#324AB2;
    margin-left:300px;
}
section
{
    background-color: #63c5da;
    width:100%;
 
    
    
}
.b
{
    background-color: #010B40;
    display: flex;
    gap: 20px;
}
.b li
{
   
    font-size: 20px;
    
}
.b li a
{
    color: white;
    text-decoration: none;
    padding:20px;
}

