.container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 1fr ;
    gap: 2px;
    background-color:#EEF779;
    
}

p
{
   font-size: 2rem;
}
h2
{
    font-size: 2em;
    text-align: center;
}
body
{
    
    width:80%;
    margin: auto;
}
h1,h2,h3
{
    color:white;
    background-color: #010B40;
}
p{
 font-family: garamond;   
 padding-left:50px;
 padding-right:50px;
}
form
{

}
.but:hover
{
    background-color:red;
    color:green;
}
.b li a:hover
{
    
    text-decoration:underline;
    font-size: 25px;
    color: red;
}
img
{
    width: 400px;
    padding:10px;
    
    
}
.bb
{
    border-radius:50%;
}
table,tr,td
{
    border: 3px solid black;
    margin: auto;
}
#contact h3
{
    text-align: center;
}
th
{
    background-color:black;
    color:white;
}

input
{
    width: 350px;
}
button
{
    border-radius:20%;
    background-color:#324AB2;
    margin-left:300px;
}
.b
{
    background-color: #010B40;
    display: flex;
    gap: 20px;
    
}
.b li
{
   
    font-size: 20px;
    
}
.b li a
{
    color: white;
    text-decoration: none;
    padding:20px;
}
.grid5
{
    border-radius:50%;
}
.grid2
{
    grid-column: span 2;
}
label
{
    display: inline-block;
    width: 20px;
}
input
{
    border-radius:20px;
}
.c
{
    margin:auto;
}

